/* CSS files add styling rules to your content */

@font-face {
  font-family: apple garamond;
  src: url(applegaramond-light.ttf);
}

@font-face {
  font-family: apercu;
  src: url(appercu.ttf);
}

body {
  background: #ffdbe9;
  margin: 2em;
  font-family:apercu;
}

h1 {
  font-family: apple garamond;
  color: #2e37fe;
  text-shadow: 0px 0px 3px #2e37fe;
}

#thingy {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size:18px;
  text-align:center;
}